input, button {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#fundo {
    background-color: #d4d4d4;
}

#total {
    display: flex;
    font-size: 1.5em;
    width: 100%;
    justify-content: end;
}

.imglogin {
    width: 100%;
}

.fotouser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

#userIcon {
    color: white;
    margin-top: 8px;
    margin-left: 8px;
}

.user {
    margin-top: 10px;
}

.lado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lado {
    display: flex;
    flex-wrap: wrap;
}

.space {
    margin: 10px 15px 10px 15px;
}

.altura {
    height: 350px;
    width: 240px;
}

.carouselImage {
    height: 350px !important;
    width: 240px !important;
}

.carouselDetalhe {
    width: 241px !important;
}

.livro {
    text-decoration: line-through;
}

.precoatual {
    font-size: 2em;
    color: #f83f3f;
    text-decoration: underline;
}

.precodesconto {
    font-size: 1.5em;
    color: black;
    text-decoration: underline;
}

.imageDetalhe {
    height: 300px !important;
}

.carrinho {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: start;
}

.botao {
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 87%;
}

#botao {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

#desconto {
    margin-bottom: 45px;
}

#space {
    display: flex;
    position: relative;
    left: 7%;
}

#bottom {
    display: flex;
    flex-direction: row;
}

#coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 10%;
}

.precototal {
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    position: relative;
    top: -10%;
    left: 100%;
}

.opcao {
    width: 20%;
    height: 30px;
}

.botao2 {
    width: 20%;
    justify-content: center;
}

.imagem {
    border-radius: 20px;
}